/* This css section is for the login. signup, forgotpassword amd newpassword 
pages by jeni*/
.signup-body{
    font-size: 100%;
    box-sizing: border-box;
    font-family: Lato, sans-serif;
    }
    .signup-container, .forgotpassword-container, .login-container{
    display:-webkit-flex;
    display:flex;
    max-width: 760px;    
    margin: auto;
    position: relative;
    top: 0px;
    bottom: 0px;
    left:0;
    right:0;
    background-color:#0F3B75;
    color: #fff;
    }
    .login-container{
        min-height: 550px;
    }
    .signup-container{
        min-height: 650px;
    }
    .forgotpassword-container{
        min-height: 500px; 
    }
    .signup-content{
    position: absolute;
    top: 50px;
    bottom: 30px;
    left: 0;
    right: 0;
    width:90%;
    margin:0 auto;
}
.signup-header{
    text-align: center;
}
.signup-h1{
    max-width: 157px;
    margin: auto;
    text-align: left;
    height: auto;
}

#signup-head{
    margin-top: 15px;
    margin-bottom:0;
    font-size: 3em;
    height: 33px;
}
#signup-p{
    font-variant: small-caps;
    font-size: 0.8em;
    padding-left: 0.2em;            
}
.signup-form{
    margin-top: 20px;
}
.forgotpassword-form{
    margin-top: 30px;
}
.signup-innerform, .forgotpassword-innerform{
    display: flex;
    flex-direction: column;

}
.signup-data{
    font-size: 1.5em;
    margin: 10px 0;
    padding: 10px;
    padding-left: 20px;
    color:#0F3B75;
}
#signup-submit, #forgotpassword-submit, #login-submit{
    font-size: 1.5em;
    font-weight:bold;    
    margin: 0 auto;
    color:#0F3B75;
    padding:8px 3px;
    padding-right:3px;
    text-align:center;
    -webkit-transition: background-color 1s; /* Safari */
    transition: background-color 1s;
}
#signup-submit{
    width: 60%;
}

#forgotpassword-submit{
    width: 20%;
    margin-top: 20px;
}
#login-submit{
    width: 50%;
}
#signup-signin, #login-signin {
    color: white;  
    font-size: 1.2em;
    text-align:right;
    margin-top: 10px;
    margin-right: 130px;
}
#signup-signin{
    max-width: 80%;
}
#login-signin{
    max-width:75%;
}
#signup-forgot{
    color: white;  
    font-size: 1.2em;
    text-align:right;
    position: relative;
    top: -30px;
}
#signup-signin a, #login-signin a, #signup-forgot a{
    color: white;  
}
.signup-data:focus, .signup-data:hover{
    border: 2px solid #0F3B75;
    box-shadow: 0 0 5px #fff;
}
#signup-submit:focus, #forgotpassword-submit:focus, #login-submit:focus{
    border: none;
    box-shadow: none;
}
#signup-submit:hover, #forgotpassword-submit:hover, #login-submit:hover{
    background-color: #0F3B75;
    color: #fff;
}
.signup-eye{
    position: relative;
    text-align:right;
    margin-right: 30px;
    top: -40px;
    width:10%;
    color: #0F3B75;
    font-size:1.6em;
    align-self: flex-end;            
}
@media screen and (max-width:500px){
    #signup-submit{
        font-size:1.3em;
    }
    #login-span, #login-span1{
        display: block;
        text-align:center;
        width: 100%;    
    }
    #signup-signin{
    margin-right: 0;
    max-width:100%;
    }
    #forgotpassword-submit{
    display: block;
    text-align:center;
    width: 35%;    
    }
    #login-signin{
        margin-right: 0;
        max-width:100%;
    }
}
.forgotpassword-innerform p {
    font-size: 1.5em;
    text-align: center;
}



/*
-----------------------------------------------------------------------------
*/