/* These rules are universal*/
.body{
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}
.blue-fall{
    background: rgb(204, 205, 207);
}
.outerBox-margin{
    margin-top:3%;
}
.box-margin{
    margin:3%;
}
.box-border{
    border-radius:15px;
    box-shadow: 0 3px 60px rgb(78, 77, 77);
}
.box-active{
    border-bottom: 4px #ffffff solid;
    background:#0F3B75;
    border-radius: 10px 10px 0 0;
    color:white;
    padding:4%;
}
.box-inactive{
    border-bottom: 4px #0F3B75 solid;
    background:white;
    border-radius: 10px 10px 0 0;
    color:#0F3B75;
    padding:4%;
}
.box-color{
    padding:3%;
    border-radius:10px 10px 0 0;
    background:#0F3B75;
    color:white;
    font-size:2.2em;
}
.box-color hr{
    width:30rem;
}
/* These rules are universal stops here*/


/* These rules are for the login, signup, forgotpassword amd newpassword pages by jeni*/

.authbox{
    background:rgb(177, 176, 176);
    margin-bottom:5%;
    border-radius:15px;
    box-shadow: 0 0 12px rgb(58, 57, 57);
}
.auth-margin{
margin-top:10%;
}
.auther-margin{
margin-top:5%;
margin-bottom:10%;
}
.auth-head{
    font-size:2.5em;
    font-weight:bold;
    margin-top:-3%;
    color: #0F3B75;
}
.auth-color{
    color:#0F3B75;
}
 
  
  
   
    .signup-formMargin{
    margin-top: 20px;
    }
    .signup-data{
        display: block;
        width: 80%;
        font-size: 1em;
        margin: 0 auto;
        padding: 10px;
        padding-left: 20px;
        margin-bottom:5%;
        border-radius:10px;
    }
    #signup-password1{
        margin-bottom: 30px;
    }

     #newpassword-submit, #login-submit{
    font-size: 1.2em;
    font-weight:bold;    
    margin: 0 auto;
    color:white;
    padding:8px 3px;
    padding-right:3px;
    text-align:center;
    border-radius:10px;
    }
    #newpassword-submit{
    width: 25%;
    margin-top: 40px;
    margin-bottom: 30px;
    }
    #login-submit {
    width: 50%;
    }
    #signup-signin{
    margin-top:3%;
    margin-bottom:3%;
    color:#0f3b75;
    }
    .signup-forgot{ 
    font-size: 1.1em;
    text-align:right;
    margin-top: -10px;
    margin-bottom: 30px;
    }
    
   
     #login-submit:focus, #newpassword-submit:focus{
    border: none;
    box-shadow: none;
    }
     #newpassword-submit:hover,{
    background-color: #0F3B75;
    color: #fff;
    }
    .signup-eye{
        color: #0f3b75;
        font-size: 1.1em;
        margin-top: -53px;
        width: 5%;
        float: right;
        text-align: right;
        margin-right: 50px;            
    }
    #newpassword-eye{
        top: -30px;
    }
   
    
   
    #newpassword-submit{
    display: block;
    text-align:center;
    width: 35%;    
    }
    #login-signin{
        margin-right: 0;
        max-width:100%;
    }
    }
    .email-good{
        font-size: 2em;
        color: greenyellow;
    }
    .email-text{
        font-size: 1.5em;
        text-align: center;
        margin-bottom: 100px;
    }
    

/* These rules are for the location listing, transaction pages, user profile, payment successful, 404 and paybills pages by drumzminister*/

.profile-borderColor{
    border: 2px  solid #0F3B75;
}
.profile-boxColour{
    background: #0F3B75;
    color: white;
    margin-bottom: 3%;
    padding:1%;
}

.profile-box3{
    box-shadow: 1px 2px 3px #676A6D;
    border-radius:5px;
    font-weight:bold;
    padding: .3%;
}

.profile-margin{
    margin-bottom: 2%;
}

.profile-rower{
    margin:3%;
}

.paybills-margin{
    margin-top: 10%;
    margin-bottom: 10%;
}
.paybills-margin2{
    margin-top: 7%;
    margin-bottom: 10%;
}
.payshadow:hover {
    box-shadow: 0 0 20px grey;
    border-radius:25px;
}

.daily-margin{
    margin-top:2%;
}
.daily-borderColor{
    box-shadow: 1px 3px 10px #08111D;
    color: #0F3B75;
    margin-bottom: 5%;
    border-radius:10px;
    background: rgb(238, 237, 237);
}
.userpage-shadow{
    box-shadow: 0 1px 15px #0F3B75;
    border-radius: 10px;
    margin-top:5%;
}
.userpage-inactive{
    border: 2px #0F3B75 solid;
    border-radius: 20px;
}
.userpage-margin{
    margin-top: 7%;
}
.userUpdate-button{
    margin:5%;
}
.userUpdate-button .btn{
  padding:7%;
  margin-bottom: 4%;
}
.user-a a{
    text-decoration: none;
}
.userpage-image{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top:5%;
    background: #0F3B75
}
.bills-image{
    width: 110px;
    height: 110px;
    border-radius: 50%;
    margin-top:5%;
    margin-bottom:5%;
}
.userpage-mar h3{
    font-size: 1.2em;
}
.userpage-bottom{
    margin-bottom: 5%;
}
.payment-margin{
    margin-top: 15%;
}
.payment-margin2{
    margin-top: 15%;
    margin-bottom: 10%;
}
.invite-form input{
    width:100%;
    height: 7%
}
.invite-input{
    border-radius: 10px;
    padding: 4%;
}
.invite-submit{
    font-size: 1.5em;
    margin-bottom:5em;
    border-radius: 10px;
}




.image404{
    height:200px;
    width:200px;
    margin:0 auto;
}
.page404-header{
  margin-top: 0;
  color: #0F3B75;
  padding-bottom : 30px;
}
  .page404-image404{
    margin-top: 20px;
     margin-right: 20px;
  }
    .page404-paragraph{
    margin-top:30px;
 }

   .page404-bg-blue{
     border-radius: 2px;
    font-size: 18px;
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    margin-top:20px;
    margin-bottom:20%;
    box-shadow: 0 5px 5px 2px rgba(0,0,0,0.14);
  }	 
  .location-text{
    width: 30%; 
    margin-top: 5%;
    padding: 5px;
    font-size:1.3em;
    font-weight: 500;
    border-radius: 5px;
    background-color: #0F3B75;
    color: #ffffff;
    /* margin-left:30%; */
    margin-bottom:4%;
}
.location-margin{
    margin-bottom: 4%;
}
.location-box{
    box-shadow: 1px 2px 3px #676A6D;
    border-radius:5px;
    font-weight:bold;
    padding: .3%;
}
.listing-borderColor{
    box-shadow: 1px 3px 10px #08111D;
    color: #0F3B75;
    border-radius:10px;
    background: rgb(238, 237, 237);
} 
.listing-request{
    height:40px;
    margin-top:12%;
}

 .page404-margin{
  margin-top: 100px;
}

.homepage-color{
    background:#0C2A52;
    
    color:white;
}
.homepage-color h1{
    padding-top:17%;
    margin: 0 auto;
    font-size:3em;
    font-family: 'Lato', sans-serif;
}
.homepage-color h1:hover{
    font-size:3.1em;
    color: #2D9CDB;
    text-shadow: 0 0 9px black;
}
.homepage-color h4{
    padding-top:3.5%;
    font-size:1.7em;
    font-family: 'Lato', sans-serif;
    line-height:1.7em;
}

.home-btn{
    width:10em;
    height: 45px;
    margin-bottom:5%;
    font-size:1.4em;
    margin-top:3%;
    color:rgb(5, 27, 56);
    font-weight:700;
}
.home-btn:hover{
    box-shadow: 0px 0px 7px #2D9CDB;
}
.headSegment-margin{
    margin-top:10%;
    margin-walletinput%;
    margin-bottom:5%;
    color:#003767;
}
.segment-box {
    min-height:20%;
}
.segment-box h4{
    line-height: 1.6em;
    color:grey;
}
.fa{
    color:green;
}
.fa:hover{
    text-shadow: 0 0 9px #0C2A52;
}
.head-segment3{
    background:#0C2A52;
    color:white;
}
.head-segment3 h1{
    margin-top:7%;
    font-size: 3em;

}
.color-fa .fa{
    color:#2D9CDB;
    margin-top:4%;
    margin-bottom:3%;
}
.color-fa h4{
   
    margin-bottom:15%;
}
.color-fa .fa:hover{
    text-shadow: 0 0 12px black;
}
.index-color{
    color:#0F3B75;
}
.index-hr hr{
    width:60%;
    border:1px solid #0F3B75;
}
.index-shift{
    margin-top: -7%;
    margin-bottom: 5%;
}
.index-text{
    line-height: 1.6em;
    width:70%;
    margin-left:15%;
}
.index-margin{
    margin-top:5%;
}
.index-contact{
    color:blue;
    height:100px;
}
.header-getStated{
    margin-left:13%;
}
.indexContactDetails{
    margin-top:-25%;
    border-radius: 10px;
    background: white;
    color: #0F3B75;
}
.index-bottom{
    
    margin-bottom:4%;
}
/*
-----------------------------------------------------------------------------------------------------------------------
Next user should start on the next line*/
.otp-rectangle-box{
	height:550px;
	border:3px solid #0F3B75;
    margin-top: 100px;
    margin-bottom: 30px;
    font-family: Lato, sans-serif;
    text-align: center;
}

.otp-text{
    font-family: Lato, sans-serif;
    font-weight: bold;
    color: #0F3B75;
    margin-top:100px;
}
.otp-p{
    font-size: 17px;
    font-family: Lato, sans-serif;
    padding-bottom: 20px; 
}
.otp-textbox{
    border:1.5px solid #0F3B75;
    height: 40px;
}

.otp-button{
    background-color: #0F3B75;
    color:white;
    border-radius:10px;
    border: 2px solid #0F3B75;
    font-family: Lato, sans-serif;
    font-size: 1.6em;
    font-weight: bold;
    width: 250px;
    height: 50px;
    text-align: center;
    margin-top:20px;
}
.otp-button:hover{
    background-color: #104790;
    color:white;
}
.otp-resend{
    margin: 60px;
}
.otp-resend p {
    color:#0F3B75;
    font-weight: bold;
}
.otp-resend button {
    border: 1.5px solid #0F3B75;
    color: #0F3B75;
    font-weight: bold;
    font-size: medium;
    width: 250px;
    height: 50px;
}
/* this are rules for wallet to account page*/
.wallet-boxColour{
    background: #0F3B75;
    color: white;
    margin-bottom: 3%;
    padding:2% 10%;
    border-radius:15px 15px 0 0;
}
.wallet-menu button {
    display: inline-block;
    padding: 10px;
    font-size: 1.3em;
    width: 190px;
    height: 40px;
    margin: 25px;
    margin-left:17%;
    text-align: center;
   
}
.wallet-menu button a{
    text-decoration:none;
    color:white;
}
.wallet-expand{
    width: 30rem;
    font-size:1.4rem;
    padding-left:10px;
    color: rgb(94, 96, 99);
    border-radius:5px;
    }
.wallet-formMargin{
    margin-top:6%;
}
.walletLabel-below{
    margin-left: 80%;
    color: rgb(94, 96, 99);
    padding: 0;
    font-size: .8em;
}
.wallet-text{
    width: 50%; 
    margin-top: 5%;
    font-size:1em;
    font-weight: 500;
    border-radius: 5px;
  
    color: rgb(94, 96, 99);
    margin-left:25%;
}

.wallet-button{
    width: 30%; 
    padding: 5px;
    text-align: center;
    font-size:1.3em;
    font-weight: 500;
    border-radius: 5px;
    color: #ffffff;
    /* margin-left:25%; */
    margin-bottom: 10%;
}


.wallet-input{
    border-radius: 10px;;
    height:40px;
}
wallet-input2{
    width:50%;
}
/*This css rules are for the profile, withdraw and payment pages by jeni*/


.withdraw-content{
    margin-bottom: 50px;
}
.human-padding{
    padding-left:10%;
}


.profile-menu button {
    display: inline-block;
    padding: 10px;
    font-size: 1.3em;
    width: 170px;
    height: 40px;
    margin: 25px;
    margin-left:17%;
    text-align: center;
   
}

.profile-menu button a{
    color: white;  
    text-decoration:none;          
}



.profile-image{
    height: 160px;
    width: 160px;
    border-radius: 50%;
    text-align: center;
    background-color:#0F3B75;
    margin: 50px  auto 0 auto;
    border: 6px solid rgb(182, 179, 179);
}
.profile-info{
    width: 75%;
    font-size: 1.2em;
}
.withdraw-info{
    width: 80%;
    margin-top: 70px;
    margin: 30px auto;
    font-size: 1.1em;
}

.profile-data{
    margin-top: 50px;
    line-height:3em;
    
}
.profile-button{
    font-size: 1.4em;
    margin-top:3%;
    margin-bottom:6%;
}
.profile-data p{
    margin: 3px 0;
    text-decoration: none;
}


.profile-innerform{
    margin-top: 50px;
}
.withdraw-data{
    display:block;
    width: 100%;
    height:40px;
    padding:20px;
    border: 0;
    font-size: 1em;
    color:#0F3B75; 
    border-radius: 10px;
    margin-bottom: 0;
    box-shadow: none;
}
.withdraw-submit{
    display: block;
    font-size: 1.3em;
    font-weight:bold;
    width: 50%;
    margin: 20px auto;       
    padding:8px 3px;
    padding-right:3px;
    
    text-align:center;
    -webkit-transition: background-color 1s; /* Safari */
    transition: background-color 1s;
}
#payment-submit{
    margin-top: 0;
    color: white;
}
#withdraw-submit{
    margin-top: 50px;
    color: white;
}
#withdraw-submit1{
    margin-bottom: 0;
    background-color: white;
    color:green;
}
.tweet a{
    text-decoration:none;
}
#withdraw-delivery, #payment-delivery {
    color: #3333;  
    font-size: 1em;
    margin: auto;
    margin-top: 0;
    width:50%;
    font-weight: bold;
    word-spacing: 20px;            
    padding: 10px;
    padding-top: 0;
}
#payment-delivery{
    margin-top: 30px;    
    text-align: center;
}
input.withdraw-data:focus, input.withdraw-data:hover{
    box-shadow: none !important;
    outline: none !important;
}
#withdraw-submit:focus, #payment-submit:focus, #withdraw-submit1:focus{
    border: none;
    box-shadow: none;
}

#withdraw-submit1:hover{
    background-color: green;
    color: #fff;
}
#withdraw-submit1 a:hover{
    color: #fff;
}
@media screen and (max-width:500px){
    #withdraw-submit, #withdraw-submit1, #payment-submit{
        font-size:1.3em;
        width: 90%;
    }
    #withdraw-span, #withdraw-span1{
        display: inline;          
    }
   
    /* #withdraw-delivery{
        width: 100%;
    } */
    #payment-delivery{
    max-width:100%;
    }
}
.withdraw-label{
    text-align: right;
    font-size: 0.8em;
    padding-right: 15px;
    padding-top:2%;
}
.withdraw-radio{
    padding-left:95%;
}
.withdraw-expand{
    width: 25rem;
    font-size:1.4rem;
    padding-left:10px;
    color:rgb(62, 65, 65);
    border-radius:5px;
    }
.withdraw p{
    color:rgb(62, 65, 65);
}
/* Edit user  */
.user-image{
    margin-top:4%;
    padding-left:10em;
}
.editusertext-blue{
    color: #0F3B75;
    font-weight: bold;
    font-size: 1.3em;
}

.edituser-image{
    width: 150px;
    height: 150px;
    border-radius: 50%;    
    background-color: #0F3B75;
    border: 2px #0F3B75 solid;
}

.form-group .input {
    width:300px;
}


.edit-bottom{
    margin-bottom:10%;
}
.ud input{
    width: 240px;
}

.edit-btn{
    width:200px;
    margin-bottom:15%;
}







/*
-----------------------------------------------------------------------------------------------------------------------
Next user should start on the next line*/
/* rules for home page header and footer*/
@media only screen and (min-device-width : 320px) and (max-device-width : 480px){
    body{ padding-top : 30px ;}
}
.navbar-brand {
    display: flex;
    align-items: center;
    padding-left: 30px;
    font-size:1.5em;
    font-family: 'Lato', sans-serif;
}
.nav-shift{
    margin-left:40px;
}
#header-color{
    color:white;
}
#header-color > li > a{
    color:white;
    font-size:1em;
}
#header-color > li > a:hover{
    color:#ffffff;
    font-weight: bold;
    text-decoration:none;
}
#header-dropdown{
    left: 0;
}
#header-dropdown li a{
    color: #0f3b75;
    padding-bottom: 5px;
}

.navbar-nav > .active > a,
.navbar-nav > .active > a:hover,.navbar-nav > li > a:hover,
#header-dropdown > .active > a,#header-dropdown > .active > a:hover,
#header-dropdown > li > a:hover {
    text-decoration: none;
    /* font-weight: bold; */
    border-radius:0px;
    /* border-bottom-width: 4px; */
    /* border-bottom-style: solid; */
    /* border-bottom-color: #0F3B75; */
    color: #0F3B75;
    background-color: transparent !important;
}
.nav{
    padding-left: 30px;
    padding-right: 30px;
}
/*##################################################*/
/* Footer CSS begins here*/

 .navbar-header{
    margin-left: -40px;
    padding-left: 0px;
}

.navbar-header a {
    text-decoration: none;
}

.proceed-text{
    line-height:1.8em;
    color:#0f3b75;
}
.proceed-margin{
    margin-top:5%;
}
.proceed-text2{
    margin-bottom: 50px; 
    margin-top: 30px;
    width: 120px;
}
/* rules for other pages header and footer*/


.navbar-nav > .active > a,
.navbar-nav > .active > a:hover,.navbar-nav > li > a:hover {
    text-decoration: none;
    /* font-weight: bold;
    border-radius:0px;
    border-bottom-width: 4px;
    border-bottom-style: solid;
    border-bottom-color: #0F3B75; */
    color: #0F3B75;
    background-color: transparent !important;
}
.navbar-nav > li > a{
    border-radius:0px;
}
.navbar-header .hamburger {
    background-color: #ffffff;
}
.navbar-header .hamburger > span {
    background-color: #0C2A52;
}
.navbar-header{
    background-color: #0C2A52;
}
/* rules for general footer*/
.all-footer{
    background-color: rgb(233, 232, 232);
    padding-top: 6%;
}
.footer-p{
    line-height:1.8em;
    color: #2D9CDB;
}
.footer-head hr{
    border: 1px rgb(136, 133, 133) solid;
    border-radius: 10px;
}
.footer-head h5{
    font-size:1.2em;
    font-weight: 700;
    color: rgb(94, 96, 99);
}
.footer-end{
    background: #0F3B75;
    margin-top:3%; 
    padding:1%;
    color:white;
}

/* admin section rules */
.skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side {
    background-color: #0F3B75;
  }
  
  .skin-blue .main-header .logo {
    background-color: #316BB8;
    color: #fff;
    border-bottom: 0 solid transparent;
  }
  
  .skin-blue .main-header li.user-header {
    background-color: #0F3B75;
  }
  
  .skin-blue .main-header .navbar {
    background-color: #0F3B75;
  }
  
  .skin-blue .sidebar-menu>li:hover>a, .skin-blue .sidebar-menu>li.active>a, .skin-blue .sidebar-menu>li.menu-open>a {
    color: #fff;
    background: #316BB8;
  }
  
  .skin-blue .sidebar-form input[type="text"], .skin-blue .sidebar-form .btn {
    box-shadow: none;
    background-color: #fff;
    border: 1px solid transparent;
    height: 35px;
  }
  
  .user-panel>.image>img {
    width: 100%;
    max-width: 80px;
    height: auto;
  }
  
  .user-panel>.info>p {
    font-weight: 600;
    margin-bottom: 9px;
    margin-top: 25px;
    margin-left: 25px;
  }
  
  .pull-left {
    float: left!important;
    margin-left: 10px;
    margin-top: 20px;
  }
  
  table{
    margin-top: 20px;
    margin-left: 40px;
  }
  
  hr.style-one{
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
  }
  .user-rectangle, .user-rectangle2 {
    background-color: #ffffff;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 5px;
  }
  
  
   .lineup{
    border: 2px solid #316BB8;
  }
  
  
  
  .user-rectangle .user-rectangle-text,.user-rectangle2 .user-rectangle-text{
    display: block;
    font-size: 18px;
    color: #000000;
    font-weight: bold;
    padding-left: 20px;
  }
  .user-rectangle .user-rectangle-subtext,.user-rectangle2 .user-rectangle-subtext{
    font-size: 14px;
    color: #000000;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    padding-left: 20px;
  }
  @media only screen and (min-device-width : 320px) and (max-device-width : 480px){
    .user-rectangle .user-rectangle-text,.user-rectangle .user-rectangle-subtext,
    .user-rectangle2 .user-rectangle-text,.user-rectangle2 .user-rectangle-subtext{
      padding-left: 30px;
    }
    .user-rectangle, .user-rectangle2{
      margin-top: 20px;
    }
  }
  .user-table{
    margin-top: 50px;
   }
  .user-table .user-table-content{
    margin: 10px;
    margin-right: 70px;
  }
  .user-table .user-table-content .user-name{
    border-radius: 5px;
    background-color: #ffffff;
    padding: 10px;
  }
  .user-table .user-table-content .user-name .user-name-text{
    padding-left: 20px;
    font-size: 18px;
    color: #0F3B75;
    font-weight: bold;
  }
  .user-table .user-table-content .user-view-button,.user-table .user-delete-button{
    padding: 10px;
  }
  .user-modal-body{
    margin: 0px 50px 50px 50px;
  }
  .user-modal-body > div > h4 {
    text-align: center;
    word-spacing: 10px;
  }
  .user-modal-body .user-modal-input{
    border:none;
    border-bottom:1px solid #000000;
  }


  /* edit user profile rules*/
  .editusertext-blue{
    color: #0F3B75;
    font-weight: bold;
    font-size: 1.3em;
}

.edituser-image{
    width: 150px;
    height: 150px;
    border-radius: 50%;    
    background-color: #0F3B75;
    border: 2px #0F3B75 solid;
}

.edituserpage-shadow{
    box-shadow: 0 1px 15px #0F3B75;
    border-radius: 10px;
    margin-top:5%;
}

.edituserpage-margin1{
    margin-top: 3%;
}

.edituserpage-margin{
    margin-top: 0 !important;
    margin-bottom: 10%;
}

.edituserpage-form{
    box-sizing: border-box;
    margin-bottom: 5%;
    padding: 10px;
    border-radius: 5px;
}

.edituserpage-btn{
    box-sizing: border-box;
    padding:5px 45px;
    border-radius: 0 !important;   
    font-size: 0.8em; 
    border: 0;
}

.edituserpage-btn.blue{
    box-sizing: border-box;
    padding:5px 45px;
    border-radius: 0 !important;  
    background-color: #0F3B75;
    color: #ffffff;  
}

.edituserpage-btn.white{
    box-sizing: border-box;
    padding:5px 45px;
    border-radius: 0 !important;  
    background-color: #E1E1E1;
    color: #ffffff;  
}

@media(min-width : 760px){
    .edituserpage-btn{
        box-sizing: border-box;
        padding:10px 35px;
        border-radius: 0 !important;   
        font-size: 0.8em; 
        border: 0;
    }
    
    .edituserpage-btn.blue{
        box-sizing: border-box;
        padding:10px 35px;
        border-radius: 0 !important;  
        background-color: #0F3B75;
        color: #ffffff;  
    }
    
    .edituserpage-btn.white{
        box-sizing: border-box;
        padding:10px 35px;
        border-radius: 0 !important;  
        background-color: #E1E1E1;
        color: #ffffff;  
    }
}

@media (max-width : 760px) {    
.edituserpage-btn{
    box-sizing: border-box;
    padding:5px 15px;
    border-radius: 0 !important;   
    font-size: 0.7em; 
    border: 0;
    margin-right: 10px;
}
.edituserpage-btn.white{
    box-sizing: border-box;
    padding:5px 10px;
    border-radius: 0 !important;  
    background-color: #E1E1E1;
    color: #ffffff; 
    
} 

.edituserpage-btn.blue{
    box-sizing: border-box;
    padding:5px 10px;
    border-radius: 0 !important;  
    background-color: #0F3B75;
    color: #ffffff;  
    margin-left: 30px;    
}
}
  /* email-page rules */

  header {
    padding: 154px 0 100px;
    height: 400px;
  }
  
  .bg-primary{
    background-color: #0F3B75 !important;
  }
  
  .navbar{
    height: 40px;
    background-color: #fff;
  }
  
  .navbar-brand{
     color: #000;
     transform: translateX(-50%);
      left: 10%;
      position: absolute;
  }
  
  .text-center h1{
    font-size: 4rem;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .signature-right{
    margin-bottom:40px;
  }
  .about {
    padding-top: 50px;
  }
  .reduce{
      margin-top:-50px;
      color:white;
  }
  .email-head{
      background: #0F3B75;
  }
  .end{
      background: #0F3B75;
      height:40px;
  }
  .btn-btn{
      width:130px;
  }
  .col-lg-8 h2 {
    padding-bottom: 30px;
  }
  
  .space {
    margin: 40px 40px 40px 40px;
  }
  
  .centered {
    text-align: center;
    font-size: 5rem;
    padding: 10px 70px;
  }
  
   
  @media only screen and (min-width: 400px){
   background-color:black;
  }
  
  
