body{
margin:10px;
font-family: Calibri,'Gill Sans', 'Gill Sans MT',  'Trebuchet MS', sans-serif
}
h1,h2,h3,h4,h5,h6,p{
    margin:0;
    padding:0;
}
.content{
    position: relative;
    width:100%;
    background: #520459;
}
.header{
    height: 630px;
    width:100%;
    border-bottom: 16px solid #BE48C9;
}
nav ul{
    position: absolute;
    top:40;
    right:70;
    list-style: none;
    padding:0;
    margin:0;
}
nav ul li{
    float: left;
}
nav ul a{
    color: #D98FE0;
    text-decoration: none;
    font-weight:bolder;
    font-size: 110%;
    margin-bottom:30px;
    margin-left: 10px;
    padding:5px 20px;
    border: 2px solid #520459;
}
nav ul a:hover{
    background: #BC66C4;
    color:#520459;
    border-radius: 0 10px;
}


.headcontent{
    position: relative;
    width:60%;
    margin: 0 auto;
    text-align: center;
    top:180px;
}
.headcontent h2{
    font-size:250%;
    color: #BC66C4;
    font-weight: lighter;
    font-variant: small-caps;
}
.headcontent h1{
    font-size:110px;
    color: #BC66C4;
}
.headcontent p{
    margin-top: 20px;
    font-size:25px;
    font-variant: small-caps;
    color: #39023E;
    padding:8px;
    background: #BC66C4;
}
.headcontent hr{
    border: 1px solid white;
    width:55%;
    margin-top: 20px;
}
.headcontent h6{
    text-align:center;
    font-size:13px;
    color: #BC66C4;
    margin-top: 20px;
}

.nexticon {
    position: absolute;
    top:530px;
    right:40px;
}
.nexticon ul {
    list-style-type: none;
}
.nexticon ul:hover{
    transition: .5s ease-in;
    -moz-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
}
/* ======= Second section starts here======= */
#main{
    transition-duration: 3s;
}
.section{
    position: relative;
    width: 100%;
    height: 630px;
    background: #D6D0D0;
}
.firstcolumn{
    float: left;
    text-align: center;
    width: 20%;
    margin:5% 8%;
}
.firstcolumn h1{
    font-size:200%;
    color:#520459;
}
.firstcolumn p{
    font-size:110%;
    margin-top:10px;
    color:#BC66C4;
}
.secondcolumn{
    float: left;
    text-align: center;
    width: 20%;
    top:60px;
    margin:5% 6%;
}
.secondcolumn h1{
    font-size:200%;
    color:#520459;
}
.secondcolumn p{
    font-size:110%;
    margin-top:10px;
    color:#BC66C4;
}
.thirdcolumn{
    float: left;
    width: 20%;
    text-align: center;
    margin: 5% 6%;
}
.thirdcolumn h1{
    font-size:200%;
    color:#520459;
}
.thirdcolumn p{
    font-size:110%;
    margin-top:10px;
    color:#BC66C4;
}